{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="author" content="Martim Teixeira" />
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'portfolio/images/Portugal.ico' %}" />
      <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}" />
      <script src="{% static 'portfolio/javascript/scrpt.js' %}"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Martim Teixeira</title>
      <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
      <script src="{% static 'portfolio/javascript/javascript.js' %}"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Racing+Sans+One&family=Roboto:wght@300&display=swap" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        window.onload = function() {
          {% if messages %}
            let messageText = "";
            {% for message in messages %}
              messageText += "{{ message }} ";
            {% endfor %}
      
            // Trigger SweetAlert with the message
            Swal.fire({
              title: 'Message',
              text: messageText,
              icon: 'success',
              confirmButtonText: 'Close'
            });
          {% endif %}
        }
      </script>
    </head>
    <body>
        <header>
            <a href="{% url 'portfolio:home_page_view' %}" class="logolayout"
              ><img src="{% static 'portfolio/images/Logo.png' %}"
              /></a>
            <div class="topnav" id="myTopnav">
              <a href="#about">About</a>
              <a href="#about">Life</a>
              <a href="#about">Projects</a>
              <a href="#about">Contact</a>
              <a
                href="javascript:void(0);"
                style="font-size: 15px; position: fixed; top: 0; right: 0"
                class="icon"
                onclick="myFunction()"
                >&#9776;</a
              >
            </div>
          </header>
        <main>{% block main %} {% endblock main %}</main>
    </body>
    <script>
      const sentences = [
        "A student preparing his future",
        "Exploring new horizons",
        "Building his dreams",
        "A data enthusiast"
      ];

      let currentSentence = 0;
      const dynamicText = document.getElementById('dynamic-text');
      let typingSpeed = 100; // Milliseconds per character for typing
      let deletingSpeed = 50; // Milliseconds per character for deleting
      let sentencePause = 2000; // Pause at the end of a sentence

      function typeSentence(sentence, callback) {
        let index = 0;
        dynamicText.textContent = '';

        function type() {
          dynamicText.textContent += sentence[index++];
          if (index < sentence.length) {
            setTimeout(type, typingSpeed);
          } else {
            setTimeout(() => deleteSentence(callback), sentencePause);
          }
        }

        type();
      }

      function deleteSentence(callback) {
        let currentText = dynamicText.textContent;
        function del() {
          dynamicText.textContent = currentText.slice(0, currentText.length - 1);
          currentText = dynamicText.textContent;
          if (currentText.length > 0) {
            setTimeout(del, deletingSpeed);
          } else {
            callback();
          }
        }

        del();
      }

      function updateText() {
        const sentence = sentences[currentSentence++];
        typeSentence(sentence, updateText);

        if (currentSentence >= sentences.length) {
          currentSentence = 0;
        }
      }

      updateText();
    </script>
</html>
