{% extends 'portfolio/layout.html' %} {% block main %}
{% load static %}
<a
  class="fa-solid fa-arrow-left seta"
  href="{% url 'portfolio:home_page_view' %}"
></a>
<div class="centerTitlescurso">
  <h2>Information Technology Management</h2>
    <a href="https://www.ulusofona.pt/en/lisboa/bachelor/information-technology-management" target="_blank"
    ><button class="btn">Bachelor's Page</button></a>
    <p class="paddingInitialTextCurso">The Bachelor's degree in Information Technology Management aims to fill an increasing 
        need within organizations to bridge business areas (Marketing, Sales, Operations, etc.) with one of the main areas 
        of strategic support, Information Systems. The languages of these areas are different, so only employees who can 
        understand how companies are structured and positioned in their markets, combined with technological knowledge, 
        can enhance a perfect Technology-Business alignment. This is the focus for those who pursue a Bachelor's degree 
        in Management Information Systems.</p>
</div>
<h3 class="paddingcurso">1st year</h3>
<div class="containerCurso">
  {% for licenciatura in licenciaturas %} {% if licenciatura.ano == 1 %}
  <div>
    <b>{{ licenciatura.nome }} <a href={{ licenciatura.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ licenciatura.descricao }}</p>
    <p>{{ licenciatura.semestre }}st semester</p>
    <p>Ects: {{ licenciatura.ects }}</p>
    <p>Professor: {{ licenciatura.professor.primeiroNome }} {{ licenciatura.professor.ultimoNome }} <a href={{ licenciatura.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a>
    {% if not licenciatura.professor.linkedin == licenciatura.professorAuxiliar.linkedin %}
    <p>Teacher Assistant: {{ licenciatura.professorAuxiliar.primeiroNome }} {{ licenciatura.professorAuxiliar.ultimoNome }} <a href={{ licenciatura.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<h3 class="paddingcursotext">2nd year</h3>
<div class="containerCurso">
  {% for licenciatura in licenciaturas %} {% if licenciatura.ano == 2 %}
  <div>
    <b>{{ licenciatura.nome }} <a href={{ licenciatura.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ licenciatura.descricao }}</p>
    <p>{{ licenciatura.semestre }}º semestre</p>
    <p>Ects: {{ licenciatura.ects }}</p>
    <p>Professor: {{ licenciatura.professor.primeiroNome }} {{ licenciatura.professor.ultimoNome }} <a href={{ licenciatura.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ licenciatura.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not licenciatura.professor.linkedin == licenciatura.professorAuxiliar.linkedin %}
    <p>Professor Auxiliar: {{ licenciatura.professorAuxiliar.primeiroNome }} {{ licenciatura.professorAuxiliar.ultimoNome }} <a href={{ licenciatura.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ licenciatura.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
  </div>
  {% endif %} {% endfor %}
</div>
<h3 class="paddingcursotext">3rd year</h3>
<div class="containerCurso">
  {% for licenciatura in licenciaturas %} {% if licenciatura.ano == 3 %}
  <div>
    <b>{{ licenciatura.nome }} <a href={{ licenciatura.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ licenciatura.descricao }}</p>
    <p>{{ licenciatura.semestre }}º semestre</p>
    <p>Ects: {{ licenciatura.ects }}</p>
    <p>Professor: {{ licenciatura.professor.primeiroNome }} {{ licenciatura.professor.ultimoNome }} <a href={{ licenciatura.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ licenciatura.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not licenciatura.professor.linkedin == licenciatura.professorAuxiliar.linkedin %}
    <p>Professor Auxiliar: {{ licenciatura.professorAuxiliar.primeiroNome }} {{ licenciatura.professorAuxiliar.ultimoNome }} <a href={{ licenciatura.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ licenciatura.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
