{% extends 'portfolio/layout.html' %} {% block main %}
{% load static %}
<section class="heroImage">
  <div>
    {% if user.is_authenticated %}
    <p>Bem vindo <b>{{ user.username }}</b>
    {% else %} {% endif %}
    <h2><span>Martim Teixeira.</span> <span id="dynamic-text"></span></h2>
    <div>
      {% load static %}
      <a
        href="{% static 'portfolio/images/Resume_Martim_Teixeira.pdf' %}"
        download
        ><button class="btn">Download Resume</button></a
      >
    </div>
    <div class="iconsHome">
      {% load static %}
      <a href="https://www.linkedin.com/in/martim-teixeira/" target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a>
      <a href="https://www.instagram.com/mteixeira_3/" target="_blank"
        ><i class="fa-brands fa-instagram button1"></i
      ></a>
      <a href="https://github.com/Martimlt" target="_blank"
        ><i class="fa-brands fa-github button1"></i
      ></a>
    </div>
    <div class="scroll-down">
      <a href="#next-section"><i class="fa-solid fa-arrow-down"></i></a>
    </div>
  </div>
</section>
<section>
  <h2 class="centerTitles" id="about" style="scroll-margin-top: 75px;">About</h2>
    <div class="padding">
      <div class="text1apresentacao">
          <div class="space1">
              <h3>Who am I?</h3>
              <p>Hello! I'm Martim Teixeira, a 22-year-old data enthusiast from Portugal, who loves using data to uncover insights.</p>
          </div>
          <div>
              <h3>What do I intend to do in the future?</h3>
              <p>
                  My vision for the future is to work in the U.S., leveraging my strengths in Data Science, Analytics, and Machine Learning.
                  I'm eager to take on challenges that drive lasting impact.
              </p>
          </div>
      </div>
      <div class="imgapresentacao">
          <img src="{% static 'portfolio/images/228.png' %}"/>
      </div>
      <div class="text2apresentacao">
          <div class="space2">
              <h3>What am I doing now?</h3>
              <p>
                  I'm finishing my MSc in Business Analytics at UCSD. Throughout this program, I've focused on applying data 
                  science and machine learning to solve complex business challenges.
              </p>
          </div>
          <div>
              <h3>Professional Aspirations:</h3>
              <p>I am committed to continuous growth, expanding my data science expertise, and supporting team success in a dynamic environment.</p>
          </div>
      </div>
    </div>
</section>
<div class="job-search">
  <h3>Seeking Opportunities</h3>
  <p>I am actively seeking full-time or internship opportunities where I can apply my skills in Data Science, Analytics, and Machine Learning. If you're looking for a dedicated and enthusiastic professional to join your team, I'd love to connect and discuss how I can contribute to your organization's success.</p>
  <div>
    <a href="#contact"><button class="btn">Contact Me</button></a>
  </div>
</div>
<div>
  <h2 class="centerTitles">Languages</h2>
  <div class="languages">
    <div class="language">
      <img src="{% static 'portfolio/images/portugal-flag.png' %}" alt="Portuguese Flag">
      <b>PT</b>
    </div>
    <div class="language">
      <img src="{% static 'portfolio/images/english-flag.jpg' %}" alt="English Flag">
      <b>EN</b>
    </div>
    <div class="language">
      <img src="{% static 'portfolio/images/spain-flag.png' %}" alt="Spanish Flag">
      <b>ES</b>
    </div>
  </div>
</div>
<section>
    <h2 class="centerTitles">Hobbies</h2>
    <div class="hobbies">
        <div>
          <i class="fa-solid fa-book"></i>
            <p>Read</p>
        </div>
        <div>
            <i class="fa-solid fa-person-walking"></i>
            <p>Run</p>
        </div>
        <div>
            <i class="fa-solid fa-utensils"></i>
            <p>Cook</p>
        </div>
    </div>
</section>
<section>
  <h2 class="centerTitles" id="lifePath" style="scroll-margin-top: 75px;">Life Path</h2>
  <div class="timeline">
    <div class="percurso left">
      <div class="content">
        <h2>05/2014</h2>
        <p>Volunteer at the <i><a href="http://www.servethecity.pt/" target="_blank" class="link"
          >Serve The City</a
        ></i> institution, where I've had the privilege of contributing in their canteen to serve meals to those in need.</p>
      </div>
    </div>
    <div class="percurso right">
      <div class="content">
        <h2>01/2019</h2>
        <p>
          Earned the <b>Linkedin for Professionals</b> certificate through Fenix Digital.
        </p>
      </div>
    </div>
    <div class="percurso left">
      <div class="content">
        <h2>07/2020</h2>
        <p>
          Held a position as a Factory Worker at 
          <i><a href="https://www.fapil.pt/" target="_blank" class="link"> Fapil</a></i> during summer vacations from high school.
          Assisted in machinery operation, product assembly, and quality control. Developed practical skills and gained insight into the manufacturing process.
        </p>
      </div>
    </div>
    <div class="percurso right">
      <div class="content">
        <h2>09/2020</h2>
        <p>Started my <b>Bachelor's Degree in Information Technology Management</b></p>
        <p>
          <b>University:</b>
          <i><a href="https://www.ulusofona.pt/" target="_blank" class="link"
            >Lusófona University - University Center of Lisbon</a
          ></i>
        </p>
        <i><a href="{% url 'portfolio:lusofona' %}" class="link"
          >Bachelor's Information</a
        ></i>
        <p><b>Activities:</b></p>
          <ul style="padding-left: 50px;">
              <li>Selected as one of few students to engage in course audit meetings, contributing valuable insights to aid in quality assurance processes;</li>
              <li>Member of TecWeb event - Managed preparation and assured detailed execution.</li>
          </ul>
      </div>
    </div>
    <div class="percurso left">
      <div class="content">
        <h2>02/2022 to 09/2022</h2>
        <p>
          Worked as <b>Software Developer</b> at
          <i><a href="https://www.fapil.pt/" target="_blank" class="link"> Fapil</a></i>, 5 months as part-time job while I was having classes and 3 months as full-time job during the summer break.
        </p>
        <p><b>Job description:</b></p>
          <ul style="padding-left: 50px;">
              <li>Developed comprehensive Power BI dashboards for productivity and human resources analysis, enabling data-driven decisions and optimizing queries in Microsoft SQL Server for increased work efficiency;</li>
              <li>Enhanced the company's proprietary platform/website with new features, significantly improving user experience and operational functionality;</li>
              <li>Executed back-end development in the company's Enterprise Resource Planning (ERP) system, leading to streamlined internal workflows and processes.</li>
          </ul>
      </div>
    </div>
    <div class="percurso right">
      <div class="content">
        <h2>10/2022</h2>
        <p>SAP training at <i><a href="https://www.stratesys-ts.com/en/" target="_blank" class="link">Stratesys</a></i> during <i><a href="https://www.ulusofona.pt/en/event/tecweb-2022" target="_blank" class="link">Tecweb</a></i> week (10/03 - 10/07).</p>
      </div>
    </div>
    <div class="percurso left">
      <div class="content">
        <h2>12/2022</h2>
        <p>Obtained a <b>certificate in Microsoft Power BI</b> from the trainer <i><a href="https://www.linkedin.com/in/pauloalexandrecosta/" target="_blank" class="link">Paulo Costa <i class="fa-brands fa-linkedin button1" style="color: black !important;"></i></a></i> by the company APIP.</p>
      </div>
    </div>
    <div class="percurso right">
      <div class="content">
        <h2>06/2023</h2>
        <p>
          Finished my Bachelor's Degree.
        </p>
      </div>
    </div>
    <div class="percurso left">
      <div class="content">
        <h2>08/2023</h2>
        <p>Started my <b>Master of Sciences in Business Analytics</b><p>
          <b>University:</b>
          <i><a href="https://www.ulusofona.pt/" target="_blank" class="link"
            >Rady School of Management - University of California, San Diego</a
          ></i>
        </p>
        <i><a href="{% url 'portfolio:ucsd' %}" class="link"
          >Master's Information</a
        ></i>
      </div>
    </div>
    <div class="percurso right">
      <div class="content">
        <h2>01/2024</h2>
        <p>Volunteered at the event
          <i><a href="https://www.datascience.salon/" target="_blank" class="link"
            >Data Science Salon</a
          ></i> in Seattle.
        </p>
      </div>
    </div>
    <div class="percurso left">
      <div class="content">
        <h2>03/2024 - 06/2024</h2>
        <p><b>Data Scientist</b> - Capstone Project</p>
        <p><b>Company:</b>
          <i><a href="https://www.mazdausa.com/" target="_blank" class="link"
            >Mazda North American Operations</a
          ></i>
        </p>
        <p>
          Project Leader responsible for orchestrating the project, ensuring cohesive teamwork and strategic alignment with Mazda, 
          working towards achieving project milestones and productive collaboration. Led the analysis of diverse datasets and developed 
          predictive models to forecast dealership loyalty, to improve Mazda's customer retention and satisfaction strategies (more details below).
        </p>
      </div>
    </div>
  </div>
</section>
<h2 class="centerTitles">Skills</h2>
<div class="competenciasSpace">
    {% for competencia in competencias %}
        <p>{{ competencia.competencia }}</p>
        <div class="competencias">
            <div class="skills {{ competencia.competencia }}" style="width: {{ competencia.valor }}%;background-color: #fa8f03;">{{ competencia.valor }}%</div>
        </div>
    {% endfor %}
</div>
<h3 class="centerTitles">Some other skills...</h3>
<div>
  
</div>
<h2 class="centerTitles" id="projects" style="scroll-margin-top: 75px;">Projects</h2>
<div class="projetos" id="projectsContainer">
  <div class="separadoresEsquerda" id="project1">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/Mazda_Capstone.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>Drivers of Customer Loyalty - Business Analytics Capstone</h3> 
        <p>The project analyzed factors affecting dealership loyalty for Mazda North American Operations, focusing
           on the DSA program. The study utilized various datasets, including sales data,
            customer surveys, service retention statistics, and warranty claims. To analyze the data, advanced 
            statistical methods and machine learning models were employed, including ANOVA tests, T-tests, and linear 
            regression. These techniques helped understand the impact of the DSA program and other factors on customer 
            loyalty and satisfaction.</p>
        <p>Carried out in the Spring quarter of the Master's degree</p>
        <p><b>Team mates:</b> Apoorav Sharma, Lakshay Chopra, Phalguni Kamani</p>
        <p><b>Used Technologies:</b> Python, Machine Learning</p>
    </div>
</div>
  <div class="separadoresDireita" id="project2">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/AUD.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>Amazon Reviews Sentiment Analysis - Analyzing Unstructured Data <a href="https://github.com/rsm-iiribarrenpenuelas/final-project-mgta415" target="_blank"><i class="fa-brands fa-github button1"></i
          ></a></h3> 
        <p>In this project, we developed a sentiment analysis system tailored to Amazon product reviews. Leveraging 
          advanced natural language processing (NLP) and machine learning techniques, the goal was to accurately 
          determine the sentiment expressed in feedback and classify it as positive, negative, or neutral categories. 
          For that, we explored sentiment trends, word usage, and user engagement. This foundational work informed the 
          design of a sophisticated analysis system capable to predict the sentiment. We used different model's, and 
          evaluated the performance using train, test and validate sets, to ensure effectiveness.</p>
        <p>Carried out in the Winter quarter of the Master's degree</p>
        <p><b>Team mates:</b> Gaetan Rieben, Iñaki Iribarren and Zeyu Chen</p>
        <p><b>Used Technologies:</b> Python, Machine Learning</p>
    </div>
  </div>
  <div class="separadoresEsquerda" id="project3">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/Web_mining_project.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>Movies Recommendation and Rating Prediction - Web Mining & Recommender Systems <a href="https://github.com/Martimlt/Movies-Recommender-System" target="_blank"><i class="fa-brands fa-github button1"></i></a></h3> 
        <p>This project aims to create a movie recommendation system, focusing on user preferences and viewing history. 
          Key steps include using a dataset with user ratings and movie preferences, and analyzing user behavior 
          in film. The system will use machine learning for predicting user preferences and estimating ratings. The approach 
          combines content-based filtering (cosine similarity scores) with advanced collaborative filtering methods like NMF and SVD. 
          The most accurate model was used to recommend the top 10 movies to users.</p>
        <p>Carried out in the Fall quarter of the Master's degree</p>
        <p><b>Used Technologies:</b> Python, Machine Learning</p>
    </div>
  </div>
  <div class="separadoresDireita" id="project4">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/Website_ucsd.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>UCSD Parking Lots - Collecting and Analyze Large Data <a href="https://ucsdparkinglots.pythonanywhere.com/" target="_blank"><i class="fa-solid fa-link button1"></i></a>
          <a href="https://github.com/rsm-mateixeira/ucsdparking" target="_blank"
          ><i class="fa-brands fa-github button1"></i
          ></a></h3> 
        <p>This project at UC San Diego's Rady School of Management analyzes a decade-long dataset of parking lot 
          usage across UCSD campuses, focusing on post-2018 data to examine the impact of COVID-19 on parking trends. 
          Data was collected hourly from lots and structures and analyzed for patterns. Techniques used included web 
          scraping, data transformation, Tableau for visualization, and Django for website development. The project 
          aims to improve campus planning and resource allocation.</p>
        <p>Carried out in the Fall quarter of the Master's degree</p>
        <p><b>Team mates:</b> Grace Kim, Jeremy Edwards and Shridhar Rawat</p>
        <p><b>Used Technologies:</b> Tableau, Django, HTML, CSS, JavaScript</p>
    </div>
</div>
  <div class="separadoresEsquerda" id="project5">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/website_tml.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>Mobility Dashboards - Final Course Work<a href="https://tmldashboards.pythonanywhere.com/" target="_blank"><i class="fa-solid fa-link button1"></i></a>
          <a href="https://github.com/Martimt-22006053/tfc-dashboards" target="_blank"
          ><i class="fa-brands fa-github button1"></i
          ></a></h3>
        <p>A webpage was developed to showcase Dashboards related to the INE Survey conducted in 2017 about mobility in the 
          Lisbon Metropolitan Area. This project involved utilizing relevant data, processing it to extract essential information,
           and presenting it in visualizations for analysis and decision-making purposes.</p>
        <p>Carried out in the 3rd year of the Bachelor's degree</p>
        <p><b>Used Technologies:</b> Microsoft Power BI, Django, HTML, CSS, JavaScript</p>
    </div>
  </div>
  <div class="separadoresDireita" id="project6">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/projetoLP2.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>DeisiGreatGame - Programming Languages II <a href="https://github.com/Martimlt/DeisiGreatGame" target="_blank"><i class="fa-brands fa-github button1"></i></a></h3> 
        <p>Virtual board game, leveraging advanced Java programming techniques. 
          It mimics a programmer's journey through the software development process, where players face realistic challenges such 
          as coding errors and the repercussions of suboptimal decisions. The game also incorporates elements of reward for 
          employing best programming practices, facilitating progress. This project skillfully combines entertainment with 
          educational insights into programming, reflecting my adept use of sophisticated Java features to create an engaging 
          and instructive experience.</p>
        <p>Carried out in the 2nd year of the Bachelor's degree</p>
        <p><b>Team mate:</b> Rafael Sousa</p>
        <p><b>Used Technologies:</b> Java</p>
    </div>
  </div>
  <div class="separadoresEsquerda" id="project7">
    <div class="imgprojeto">
        <img src="{% static 'portfolio/images/ProjetoFP.png' %}"/>
    </div>
    <div class="textCompetencias">
        <h3>Chess Game<a href="https://github.com/Martimlt/Xadrez" target="_blank"
          ><i class="fa-brands fa-github button1"></i
          ></a></h3>
        <p>My first contact with programming was an ambitious venture into the realm of digital strategy games with a Chess game developed using Kotlin.
           This endeavor taught me the intricacies of game design, from implementing chess rules to creating a user-friendly interface for displaying the 
           board and movements. Through this project, I not only learned to code but also discovered the joy of bringing complex logic and interaction 
           to life in a digital format. It was a challenging yet rewarding introduction to programming, laying a solid foundation for my future projects.</p>
        <p>Carried out in the 1st year of the Bachelor's degree</p>
        <p><b>Team mate:</b> Rafael Sousa</p>
        <p><b>Used Technologies:</b> Kotlin</p>
    </div>
  </div>
</div>
<button id="toggleProjects" onclick="toggleProjects()" style="display: block; margin: 0px auto 20px auto; background: none; border: none; color: rgb(218, 217, 217); text-decoration: underline; cursor: pointer; padding: 0; font-size: 16px;">Show More Projects ↓</button>
<section>
  <h2 class="centerTitles" id="contact" style="scroll-margin-top: 75px;">Contact</h2>
  <div style="text-align: center; color: rgb(218, 217, 217);">
    <p><b>Email:</b> mlteixeira2002@gmail.com</p>
    <p><b>Student Email:</b> mateixeira@ucsd.edu</p>
    <p><b>Phone Number:</b> +1-619-983-5184</p>
    <p><b>Alternative Phone Number:</b> +351 931 327 957</p>
  </div>
  <h2 class="centerTitles">Contact Me!</h2>
  <div class="contact-form-container">
    <form method="post" class="contact-form">
      {% csrf_token %}
      {{ contact_form.as_p }}
      <button type="submit" class="btn" style="align-items: center;">Submit</button>
    </form>
  </div>
</section>
<script>
document.querySelector('.scroll-down a').addEventListener('click', function(e) {
    e.preventDefault(); // Prevent the default anchor behavior

    // Get the "About" section to scroll to
    const targetElement = document.querySelector('#about');

    // Define the height of the header or the offset you want
    const headerOffset = 90; // Adjust this value as needed

    // Calculate the position to scroll to, considering the header offset
    const elementPosition = targetElement.offsetTop;
    const offsetPosition = elementPosition - headerOffset;

    // Smoothly scroll to the adjusted position
    window.scrollTo({
        top: offsetPosition,
        behavior: 'smooth'
    });
});

</script>
{% endblock %}